html {
  font-size: 16px;
}

body {
  font-family: 'Trebuchet MS';
  font-size: 62.5%;
}

h1 {
	margin: 5px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 1rem;
  font-weight: bold;
}

p {
  margin: 20px;
}

main {
	max-width: 780px;
	margin: 0 auto;
  padding: 10px;
}

#menu {
  background-color: #333;
  height: 50px;
  margin-bottom: 30px;
}

#menu ul {
  display: flex;
  justify-content: center;
}

#menu li {
  display: flex;
  cursor: pointer;
  flex-direction: column;
}

#menu li a {
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  font-size: 1rem;
  font-weight: bold;
  color: #eee;
  text-decoration: none;
  height: 35px;
  padding: 15px 20px 0 20px;
}

#menu li:hover a {
  background-color: #eee;
  color: #333;
  border: 1px solid #fff;
}

#menu ul.sub-menu {
  display: none;
  position: relative;
}

#menu li:hover ul.sub-menu {
  display: flex;
  color: #333;
  background-color: #eee;
  flex-direction: column;
}

.box {
	width: 180px;
	height: 150px;
	background-color: orange;
	margin: 5px;
	font-size: 1.5rem;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.short {
	height: 75px;
}

.wide {
	width: 370px;
}

.big-box {
	width: 300px;
	height: 300px;
}

.image-container {
  max-width: 640px;
  margin: 50px auto 0 auto;
}

img {
  max-width: 640px;
}
