section {
	display: flex;
	justify-content: center;
}

@media only screen and (min-width: 600px) {
	.box {
		background-color: blue;
	}
}

@media only screen and (min-width: 900px) {
	.box {
		background-color: green;
	}
}

@media only screen and (orientation: portrait) {
	.box {
		border-radius: 50%;
	}
}

@media only screen and (orientation: landscape) {
	.box {
		border-radius: 0;
	}
}
