section {
	display: flex;
	flex-wrap: wrap;
}

@media only screen and (min-width: 600px) {
	#box_1 { order: -10;}
	#box_3 { order: -9; background-color: cyan; }
	#box_2 { order: -8; background-color: cyan;}
}

@media only screen and (min-width: 630px) {
	#box_4 { order: -7;}
	#box_5 { order: -6;}
	#box_7 { order: -5; background-color: cyan;}
	#box_6 { order: -4; background-color: cyan;}
}

@media only screen and (min-width: 780px) {
	#box_1, #box_2, #box_3, #box_4, #box_5, #box_6, #box_7 {
		order: 0;
		background-color: orange;
	}
}
